@font-face {
    font-family: 'PlayfairDisplay';
    src: url('fonts/PlayfairDisplay-MediumItalic.ttf') format('truetype');
}
body{
    background-color: #ebe9dd;
}
#rsvp-button{
    margin: 40px auto;
    display: block;
}
h3 {
    font-size: 30px;
    font-family: 'PlayfairDisplay', sans-serif;

}

p {
    font-size: 25px;
    line-height: 1.6;
}
a{
    text-decoration: none;
}
button {
    font-size: 40px;
    padding: 10px 40px;
    border: 5px solid #e1374e;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 30px;
    background-color: #fff3f4;
    font-family: 'PlayfairDisplay', sans-serif;
    transition: all 0.3s ease;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
button:hover {
    background-color: #e1374e;
    color: white;
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 8px 15px rgba(255, 71, 87, 0.5);
}
#ysys{
    text-align: center;
}
.card {
    animation: fadeUp 0.7s ease both;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
header{
    max-width: 800px;
    margin: 10px auto;
    padding: 20px;
}
main {
    max-width: 800px;
    margin: 10px auto;
    padding: 20px;
}
#save-logo{
    width: min(380px, 80vw);
    height: auto;
    display: block;
    margin: 60px auto;

}
mark {
    background-color: #ffe381;
    color: #d63031;
    padding: 2px 6px;
    border-radius: 4px;
}


#save-introduction{
    border: 5px solid #e1374e;
    border-radius: 50px;
    background-color: #fff3f4;
    margin: 10px auto;
    padding: 20px 60px 20px 60px;
    max-width: 800px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
#how-it-works{
    border: 5px solid #e1374e;
    border-radius: 50px;
    background-color: #fff3f4;
    margin: 20px auto;
    padding: 20px 60px 20px 60px;
    max-width: 800px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
